<div class="container">
  <h1 id="home-title" class="text-center">Registrese</h1>
  <div class="text-center">
    Porfavor ingrese sus datos para recibir las mejores ofertas.
    <form name="regForm" class="text-center" novalidate="">
      <br>
      <label for="firstName">Nombre: </label>
      <input type="text"
        name="firstName"
        ng-model="signupCtrl.firstName"
        placeholder="Nombre"
        minlength=2
        ng-maxlength=10
        required>
      <span ng-if="regForm.firstName.$error.required && regForm.firstName.$touched">Ingrese su nombre
      </span>
      <span ng-if="regForm.firstName.$error.minlength && regForm.firstName.$touched">
        Es demasiado corto(minimo 2 letras)
      </span>
      <span ng-if="regForm.firstName.$error.maxlength && regForm.firstName.$touched">
        Es demasiado largo(maximo 10 letras)
      </span>
      <br>
      <label for="lastName">Apellido: </label>
      <input type="text"
        name="lastName"
        ng-model="signupCtrl.lastName"
        placeholder="Apellido"
        minlength=2
        ng-maxlength="10"
        required>
      <span ng-if="regForm.lastName.$error.required && regForm.lastName.$touched">
        Ingrese su apellido
      </span>
      <span ng-if="regForm.lastName.$error.minlength && regForm.lastName.$touched">
        Es demasiado corto(minimo 2 letras)
      </span>
      <span ng-if="regForm.lastName.$error.maxlength && regForm.lastName.$touched">
        Es demasiado largo(maximo 10 letras)
      </span>
      <br>
      <label for="email">E-mail: </label>
      <input type="email"
        name="email"
        ng-model="signupCtrl.email"
        placeholder="E-mail Address"
        required>
      <span ng-if="regForm.email.$invalid && regForm.email.$touched">
        Ingrese su mail (ej: mail@mail.com)
      </span>
      <br>
      <label for="phone">Telefono: </label>
      <input type="text"
        name="phone"
        ng-model="signupCtrl.phone"
        placeholder="###-###-###"
        pattern="(\d{3})-(\d{3})-(\d{3})">
      <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
        ingrese su numero telefonico ###-###-### (ej: 111-111-111)
      </span>
      <br>
      <label for="favourite">Plato Favorito: </label>
      <input type="text"
        name="favourite"
        ng-model="signupCtrl.favourite" placeholder="Plato Favorito"
        minlength="2"
        pattern="[a-zA-Z]{1,2}\d{1,2}"
        required>
      <span ng-if="regForm.favourite.$error.required && regForm.favourite.$touched">
        Ingrese su plato Favorito
      </span>
      <span ng-if="regForm.favourite.$error.pattern && regForm.favourite.$touched">
       Debe ingresar la letra y el numero del menu (ej: L1)
      </span>
      <br>
      <span ng-if="!signupCtrl.dish">El menu ingresado no existe</span>
      <br>
      <br>
      <input type="submit" value="Sign Up" ng-disabled="regForm.$invalid" ng-click="signupCtrl.signup()">
    </form>
    <div ng-if='signupCtrl.message'>{{signupCtrl.message}}</div>
  </div>
</div>
